@media screen and (max-width:600px) {
    /* ----NAVBAR---- */
    .navbar .navbar-right .navbar_right-list li:nth-child(1) {
        display: none;
    } 
    .navbar .navbar-right .navbar_right-list li:nth-child(2) {
        display: none;
    } 
    .navbar .navbar-right .navbar_right-list li:nth-child(3) {
        display: none;
    } 
    .navbar .navbar-right .navbar_right-list li:nth-child(4) {
        display: none;
    }
      .navbar .navbar-right .navbar_right-list li:nth-child(5){
        display: block;
    }


    /* ----HERO SECTION---- */


    .h-section {
        flex-direction: column;
    
    }
    .h-section .h-section-left h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }
    .h-section .h-section-left p {
        margin-top: 20px;
        text-align: center;
    }
    .h-section .h-section-left button {
        margin: 20px auto;
        width: 100%; 
        display: block;
    
    }
/* CPMPANIES SECTION */
    .c-section img {
       width: 100%;
       height: 35px;
     
    }
    .c-section .c-section_text {
      margin-top: 120px;
    }

  /* BRANDING SECTION */

  .b-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .b-section .b_section-right h2 {
    font-size: 32px;
    text-align: center;
    /* width: 380px; */
    /* height: 76px; */
  }
  .b-section .b_section-right p {
    font-size: 12px;
    text-align: center;
    /* width: 380px; */
    /* height: 53px; */
  }
 .b-section .b_section-right i {
    text-align: center;
}
.b-section .b_section-right i.desktop {
  display: none;
}
.b-section .b_section-right i.mobile {
  display: block;
  text-align: center;
}
/* .b-section .b_section-left img {
   width: 375px;
   height: auto;
   margin: 0;
} */

/* CUSTOME SECTION */
  
.cu-section {
  display: flex;
  flex-direction: column;
}
.cu-section .cu-section_left h2 {
  text-align: center;
  font-size: 32px

}
.cu-section .cu-section_left p {
  text-align: center;
  font-size: 14px;
}
.cu-section .cu-section_left i {
  text-align: center;
}
.cu-section .cu-section_left i.two {
  display: block;
  margin-bottom: 24.46px;
}
.cu-section .cu-section_left i.one {
  display: none;

}

/* TESTIMONIAL SECTION */

.t-section .t-section_bottom {
  display: flex;
  flex-direction: column;
}
.t-section .t-section_top .t-section_text {
  font-size: 12px ;
}
.t-section .t-section_top .t-section_heading {
  font-size: 26px;
}
.t-section .t-section_bottom .t-section_bottom_item {
  width: 100%;
}


/* CONTACT SECTION */
/* .co-section .co-section_left {
  display: flex;
  flex-direction: column;
  margin-top: 208px;
  ;
} */
.h-section {
  flex-direction: column;
}
.co-section .co-section_left img {
  display: none;
}
.co-section .co-section_right {
  width: 100%;
  margin-left: 0;
}
.co-section .co-section_right h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.co-section .co-section_right p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 58.01px;
}
.co-section .co-section_right button {
        margin: 20px auto;
        width: 100%; 
        display: block;

  /* align-items: center; */
  /* margin-right: 0 auto ; */
  /* text-align: center; */
  /* display: block; */
  /* transform: translateX(50%); */

}
      /* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
}
.footer .footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-list .footer-item p {
  text-align: center;
}
.footer .footer-list .footer-item h3 {
  text-align: center;
}
.footer .footer-list .footer-item .footer-item-list-one ,
.footer .footer-list .footer-item .footer-item-list-two ,
.footer .footer-list .footer-item .footer-item-list-three   {
    list-style-type: none;
} 
.footer .footer-list .footer-item .footer-item-list-one li {
    margin: 24px 0;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
}
.footer .footer-list .footer-item .footer-item-list-two li {
    margin: 24px 0;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
}
.footer .footer-list .footer-item .footer-item-list-three li {
    margin: 24px 0;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;

